.tasksDetail {
    height: 100%;    
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: space-evenly;
}
.taskDetail__top {
    display: flex;
    flex-direction: row;
}
.tasksDetail__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EEF1F8;
    border-radius: 10px;
    box-shadow: 2px 3px #EEF1F8;
    margin: 5px;
}
.tasksDetail__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}
.tasksDetail__right{
    display: flex;
    margin-right: 20px;
}
.tasksDetail__task{
    background: #5285EC;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 20px;
}
.MuiOutlinedInput-adornedStart {
    height: 40px;
    margin-top: 10px;
    background: #D9DFEB;
    border-radius: 5px!important;
}
@media (max-width: 500px) {
    .taskDetail__top{
      flex-direction: column;
    }
    .tasksDetail__right {
        flex-direction: column;
    } 
    .tasksDetail__task {
        width: 100%;
        margin-left: 0;
    }
    .tasksDetail__left {
        justify-content: center;
    }
}