.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 6px 4px 8px #71819126;
}
.header__left{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}
.header__right{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__right > a {
    font-weight: 600;
    color: #688389;
    text-decoration: none;
}
.header__photo {
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 30px;
}
.header__user {
    font-weight: 600;
    color: #688389;
}