.dashboard {
    height: 100%;    
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}
.dashboard__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
    background-color: #FFFFFF;
    border: 1px solid #EEF1F8;
    border-radius: 10px;
    box-shadow: 2px 3px #EEF1F8;
    margin: 5px;
}
.dashboard__container > h3 {
    font-weight: 600;
    color: #688389;
}
.dashboard__counts {
    margin: 10px;
}
.dashboard__counts > span {
    font-size: 3rem;
    color: #5285EC;
    font-weight: 600;
}
.noTask{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noTask__container {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EEF1F8;
    border-radius: 10px;
    box-shadow: 2px 3px #EEF1F8;
}
.noTask__container > h3 {
    color: #688389;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}
.noTask__btn {
    background: #5285EC;
    border-radius: 5px;
    width: 110px;
    height: 35px;
    border: none;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}
.dashboard__checked {
    text-decoration: line-through;
    color: #5A5A5A;
}
@media (max-width: 500px) {
   .dashboard{
     flex-direction: column;
   } 
}