.tasksList {
    display: flex;
    width: 98%;
    padding: 10px;
    border-bottom: 1px solid #68838936;
}
.tasksList:nth-last-child(1) {
    border-bottom: none;
}
.tasksList__left {
    display: flex;
    width: 50%;
}
.tasksList__right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.tasksList__name{
    color: #5285EC;
    font-size: 20px;
    margin-left: 10px;
}
.tasksList__checkbox {
    height: 25px;
    width: 15px;
}
.tasksList__editIcon, .tasksList__deleteIcon {
    margin-right: 10px;
    cursor: pointer;
}
.tasksList__checked {
    text-decoration: line-through;
    color: #5A5A5A;
}