.newTask{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newTask__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #EEF1F8;
    border-radius: 10px;
    box-shadow: 2px 3px #EEF1F8;
}
.newTask__container > h3 {
    font-weight: 500;
    color: #688389;
    margin-bottom: 10px;
}
.newTask__container > form > .form__input {
    height: 40px;
    margin-bottom: 10px;
    background-color: #EEF1F8;
    width: 98%;
    border: none;
    border-radius: 5px;
    
}
input[type="text"]::placeholder {  
    padding: 5px;
    font-family: sans-serif;
    font-size: 12px;
} 
.newTask__loginBtn {
    background: #5285EC;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}